html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    /* height: auto; */
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
  }
  
  .container {
    width: 1100px;
    margin: 0 auto;
  }
  #gallery {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  .gallery-items {
    margin-right: 20px;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .gallery-items:last-child {
    margin-right: 0;
  }
  
  .gallery-items:hover,
  .gallery-items:focus {
    transition: transform 250ms cubic-bezier(0.95, 0.01, 0.07, 0.53);
    transform: scale(1.05);
  }
  
  #validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }